.nav{
    background: #1A1B21;
    border: #23252C;
}

.skinText{
    color: #F3BF99 !important;
}

a:active{
    background: #5093E2 !important;
    color: #F5F5F5 !important;
}

body{
    background: #23252C;
    color: #F5F5F5;
}

